<%= render 'layouts/errors', obj: @book_new %>

<div class="row">
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= render 'users/profile', user: @book.user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book_new %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr class="book_<%= @book.id %>">
					<%= render 'detail', book: @book %>
				</tr>
			</table>
      <!-- コメント一覧 -->
      <table class="show-tb comment_<%= @book.id %>">
        <%= render 'comment', book_comments: @book_comments %>
      </table>
      <div class="comment-form">
        <%= form_with model: [@book, @book_comment], data: {remote: true} do |f| %>
          <%= f.text_area :comment, size: "90x5"%>
          <%= f.submit '送信' %>
        <% end %>
      </div>
      <!-- コメント一覧 -->
	</div>
</div>

